.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: right;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 95vw;
    height: 95vh;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 40vw;
    height: 40vh;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

ul {
list-style-type: none;
}